.example-spacer {
  flex: 1 1 auto;
}

// table {
//   width: 100%;
// }

// .mat-mdc-form-field {
//   font-size: 14px;
//   width: 100%;
// }

// td,
// th {
//   width: 25%;
// }

.main-body {
  max-width: 1248px;
  padding-top: 20px;
  margin: 0 auto;
  mat-form-field {
    width: 100%;
  }
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // gap: 0.7rem;
  align-items: center;
}
